@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS variables */

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #502b1c; /* blue */
    --secondary-color: #beb6ae; /* color */
    --highlight-color: #416a8e;
    --highlight-color-light: #7a9fc2;
}

body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-transparent {
    border: 2px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custom-button-transparent:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* header */

#header .lead {
    font-family: var(--secondary-font);
}

/* services */

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

#new-games .card, #fav-games .card {
    border: none;
}

/* Margins for reserve-games */

#reserve-games {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#reserve-games button {
    margin-top: 1rem;
}

/* footer */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light)
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/* grid visualisation for css testing (*ge denna en egen kommentar*)

.container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: rgb(202, 167, 167);
}

 */


/* media queries */

/* medium devices (768px and up) */
@media screen and (min-width:768px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* large devices (992px and up) */
@media screen and (min-width:992px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* xl devices (1200px and up) */
@media screen and (min-width:1200px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* xxl devices (1200px and up) */
@media screen and (min-width:1400px) {
    /* make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}